footer {
    background-color: rgb(4, 11, 71);
    color: #fff;
}

footer p {
    margin: 0 0 2px 0;
}

footer h2 {
    font-size: 1.3rem;
}

footer a {
    word-spacing: 2px;
    text-decoration: none;
    padding: 2px;
    color: #fff;
    display: block;
}

footer a:hover {
    transition: .2s ease-in-out;
    color: white;
    background-color: #5e5e5e;
    cursor: pointer;
}

footer a svg {
    width: 23px;
    height: 23px;
}

.logoImg {
    width: 80px;
    margin: 5px auto;
}